html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: #f7f7f7;
	// align-items: center;
	// justify-content: center;
	// display: flex;
	// height: 100vh;
	// min-height: 100vh;
	color: #333333;
	font-family: "stolzl";

	&.ov-h {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
}
