.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #333333;

	.close {
		position: absolute;
		top: 30px;
		right: 30px;
		width: 30px;
		height: 30px;
		border: 0;
		background-color: transparent;
		background-image: url(../images/cross.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 25px 25px;
		outline: none;
		transition: opacity 0.2s ease-out;

		&:hover {
			opacity: 0.6;
		}

		&:active {
			opacity: 0.3;
		}
	}

	.app-wrapper {
		display: flex;
		flex-direction: column;

		min-height: 100%;
		margin-top: 0;
		// padding-top: 80px;
		// padding-bottom: 80px;
		padding-top: 150px;
		padding-bottom: 150px;

		width: 100%;
		max-width: 1600px;

		@include res-768 {
			padding-left: 0;
			padding-right: 0;
		}

		.video-title {
			top: 60px;
			max-width: 1600px;
			position: absolute;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			left: 0;
			padding-left: 50px;
			padding-right: 50px;
			margin: 0.67em 0;
			font-size: 2em;
			color: #ffffff;

			@include res-768 {
				padding-left: 25px;
			}
		}

		.video-container {
			flex-grow: 1;
			display: flex;
			// align-items: center;
			flex-direction: column;
			justify-content: center;
			// width: 100%;
			// max-height: 500px;
			// margin-top: 50px;

			video {
				width: 100%;
				height: 100%;
			}
		}
	}
}
