.details-page {
	align-items: center;
	display: flex;

	@include res-768 {
		flex-wrap: wrap-reverse;
	}

	.left-container {
		width: 45%;

		@include res-768 {
			width: 100%;
		}

		.description {
			margin-top: 35px;

			> .title {
				@include stolzl-medium;
				margin-bottom: 20px;
			}

			.ui.divider {
				margin: 1.7rem 0;
			}

			.list {
				padding-left: 18px;
				font-size: 15px;

				li {
					margin-bottom: 12px;
				}
			}

			.button {
				margin-top: 15px;
			}
		}
	}

	.right-container {
		display: block;
		width: 45%;
		min-width: 300px;
		height: 500px;
		margin-left: auto;

		@include res-768 {
			margin: 0 auto 15px;
			width: auto;
			min-width: auto;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;

			@include res-768 {
				max-width: 300px;
			}
		}

		.no-image {
			background-image: url(../images/no-image.svg);
			background-size: 55px 55px;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #e6e6e6;
			width: 300px;
			height: 500px;
			margin: 0 auto;
			border: 1px solid #c9c4c4;
		}
	}
}
