.search-field {
	align-items: center;
	display: flex;
	padding: 20px;
	border: 1px solid #00000042;

	@include res-320 {
		width: 100%;
		flex-wrap: wrap;
		padding: 13px;
		justify-content: center;
	}

	input {
		width: 100%;
		height: 35px;
		margin-right: 40px;
		padding-right: 15px;
		padding-left: 15px;

		&.error {
			background: #ff00001f;
		}

		@include res-320 {
			min-width: 100%;
			margin: 0;
		}
	}

	.button {
		display: flex;
		min-width: 135px;

		@include res-320 {
			margin-top: 15px;
		}

		&.loading {
			.icon.search {
				display: none;
			}
		}

		.icon.search {
			flex-shrink: 0;
			width: 15px;
			height: 15px;
			margin: 0 0 0 10px !important;
			background-image: url(../images/magnifying-glass.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
	}
}

.search-page {
	.posters-section {
		margin-top: 50px;
	}
}
