$screen-320: 320px;
$screen-768: 768px;
$screen-1024: 1070px;
$screen-1280: 1315px;
$screen-1366: 1366px;
$screen-max-width: 1600px;

// => Base Media Queries

@mixin res-320 {
	@media (max-width: #{$screen-768 - 1px}) {
		@content;
	}
}

@mixin res-768 {
	@media (max-width: #{$screen-1024 - 1px}) {
		@content;
	}
}

@mixin res-1024 {
	@media (max-width: #{$screen-1280 - 1px}) {
		@content;
	}
}

@mixin res-1280 {
	@media (max-width: #{$screen-1366 - 1px}) {
		@content;
	}
}

@mixin res-1366 {
	@media (max-width: #{$screen-max-width - 1px}) {
		@content;
	}
}

// ==> Other Media Queries

@mixin screen-min($width) {
	@media (min-width: $width + "px") {
		@content;
	}
}

@mixin screen-max($width) {
	@media (max-width: $width + "px") {
		@content;
	}
}
